.Home
{
    width: 80%;
    height: 500px;
    margin: auto;
}
#jumb
{
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 40px;
  padding-right: 40px;
  background-color: rgb(226, 226, 226);
}
.cubes
{
    width: 32.5%;
    height: 310px;
    margin: 5px;
    background-color: aqua;
    float: left;

    background-repeat: no-repeat;
    background-size: cover;
}

