.Left_Container
{
    width: 15%;
    height: 40%;

    margin-top: 15px;
    border-radius: 14px;
    float: left;
}

#menuTimes
{
  width: 90%;
  height: 70%;

  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 14px;
}
#menuTimes button
{
  width: 90%;
  height: 31%;

  margin-top: 5%;
  margin-left: 5%;
  margin-right: 5%;
  border-radius: 14px;
  border: 0;

  cursor: pointer;

  font-size: 30px;
  font-family: BeePollen;

  background-color: gold;
}
#menuTimes button:hover
{
  font-size: 34px;
  background-color: #C3002F;
  color: gold;
}
#menuTimes button:active 
{
  transform: translateY(4px);
}
