@font-face {
  font-family: beePollen;
  src: url('./resources/assets/beePollen.otf');
}

.App
{
  font-family: beePollen;
  height: 1000px;
  background-image: url("./resources/assets/road.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}